# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: CI Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew clean build --parallel

      - name: Upload Dokumentation
        uses: actions/upload-artifact@v2
        with:
          name: documentation
          path: "**/build/docs/asciidoc/*.html"

      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: test-results
          path: "**/build/reports/tests"

      - name: Upload Detekt Report
        uses: actions/upload-artifact@v2
        with:
          name: detekt-reports
          path: "**/build/reports/detekt/*.html"
